<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="application-name" content="LWP"/>

    {% for item in styles %}
    <link rel="stylesheet" href="{{ item }}"/>{% end %}

    {% for lib in vendor %}
    <script type="application/javascript" src="{{ lib }}"></script>{% end %}

    {% for lib in application %}
    <script type="application/javascript" src="{{ lib }}"></script>{% end %}

    <title>LXC Web Panel</title>
</head>

<body ng-app="LWP">

<div ng-controller="indexCtrl">
    <div id="loader" ng-show="!$root.loader.toBool()">
        <div class="spinner"></div>
    </div>
</div>

<div class="col-md-12">
    <nav class="navbar navbar-default" ng-controller="navBarCtrl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">LXC Web panel on <span ng-bind="hostname"></span></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="col-md-12 content">
    <div class="col-md-12" id="index-page">
    <div class="col-md-3 col-sm-3 well" ng-controller="navigationCtrl">
        <div class="row">
            <div class="col-md-12">
                <h4>Containers</h4>
            </div>
        </div>
        <div class="containers">
            <div class="row container-block" ng-repeat="c in containers track by $index">
                <div class="col-md-12 container-item" ng-class="{'container-active': $root.selected == c.name}"
                     ng-click="select(c)">
                    <span class="container-name">
                        <i class="glyphicon glyphicon-hdd"></i>
                        <span ng-bind="c.name"></span>
                    </span>

                    <div class="pull-right">
                        <span class="label hidden-sm" ng-class="$root.labelClass(c.state)" ng-bind="c.state"></span>

                        <div class="btn-group btn-group-xs" role="group" aria-label="{{!:: c.name }}">
                            <button ng-repeat="btn in actionList"
                                    type="button"
                                    class="btn"
                                    ng-class="::btn.btn"
                                    ng-disabled="(c.state == btn.state)"
                                    ng-click="::action(c, btn.action)"
                            >
                                <i class="glyphicon" ng-class="btn.icon" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row">
            <div class="col-md-push-1 col-md-11 well" ng-controller="hostInfoCtrl">
                <div class="row">
                    <div class="col-md-12">
                        <h2 ng-bind="hostInfo.release"></h2>
                    </div>
                    <div class="col-md-6">
                        <h3>CPU Usage</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" ng-style="{width: cpuUsage()}" ng-bind="cpuUsage()"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Memory usage</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" ng-style="{width: memUsage()}" ng-bind="memUsage()"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-push-1 col-md-11">
                <div class="row" ng-view=""></div>
            </div>
        </div>
    </div>
</div>
</div>

{% include "templates.html" %}

</body>
</html>