<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="application-name" content="LWP"/>

    {% for item in styles %}
    <link rel="stylesheet" href="{{ item }}"/>{% end %}

    {% for lib in vendor %}
    <script type="application/javascript" src="{{ lib }}"></script>{% end %}

    {% for lib in application %}
    <script type="application/javascript" src="{{ lib }}"></script>{% end %}

    <title>LXC Web Panel</title>
</head>

<body ng-app="LWP">

<div ng-controller="indexCtrl">
    <div id="loader" ng-show="!$root.loader.toBool()">
        <div class="spinner"></div>
    </div>
</div>

<div class="col-md-12" ng-controller="navigationCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">LXC Web panel on <span ng-bind="hostname"></span></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="col-md-9 col-lg-10 content">
    <div class="view" ng-view></div>
</div>

{% include "templates.html" %}

</body>
</html>