<div class="col-md-12" id="index-page">
    <div class="col-md-3 col-sm-3 well">
        <div class="row">
            <div class="col-md-12">
                <h4>Containers</h4>
            </div>
        </div>
        <div class="containers">
            <div class="row container-block" ng-repeat="c in containers track by $index">
                <div class="col-md-12 container-item" ng-class="{'container-active': selected == c.name}" ng-click="select(c)">
                    <span class="container-name">
                        <i class="glyphicon glyphicon-hdd"></i>
                        <span ng-bind="c.name"></span>
                    </span>
                    <div class="pull-right">
                        <span class="label hidden-sm" ng-class="labelClass(c.state)" ng-bind="c.state"></span>
                        <div class="btn-group btn-group-xs" role="group" aria-label="{{ c.name }}">
                            <button ng-repeat="btn in actionList"
                                    type="button"
                                    class="btn"
                                    ng-class="btn.btn"
                                    ng-disabled="(c.state == btn.state)"
                                    ng-click="action(c, btn.action)"
                            >
                                <i class="glyphicon" ng-class="btn.icon" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row">
            <div class="col-md-push-1 col-md-11 well">
                <div class="row">
                    <div class="col-md-12">
                        <h1 ng-bind="hostInfo"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>